.add{
    color: blue;
    margin-left: 550px;
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
    height: 40px;

}
.li{
    margin-top: 3px;
    font-size: 30px;
    font-weight: bold;
}
.animation{
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: 3px;
}
.animation:hover{
    background-color: red;
    color: white;
}